// using an mx25r64
// &mx25r64 {
//   partitions {
//     compatible = "fixed-partitions";
//     #address-cells = <1>;
//     #size-cells = <1>;
//     partition@0 {
//       label = "qspi";
//       reg = <0x00000000 0x04000000>;
//     };
//   };
// };